Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-WTF
Flask-Bcrypt
Flask-Mail
WTForms
email-validator
Werkzeug==3.0.1
stripe==7.8.0
openpyxl==3.1.2
PyJWT==2.8.0
requests==2.31.0
SQLAlchemy==2.0.23
psycopg2-binary==2.9.9
gunicorn==21.2.0
cryptography==41.0.7
pandas
reportlab
weasyprint
WTForms